---
title: "Barry Ruditsky: Going to market"
desc: "Guest Lecure: Barry Ruditsky on the real world of business, selling, pricing, and going to market"
cat: Entrepreneurship
homework: 1) Submit Stage 2 deliverables
---
<%= homework_hdr %>

1. **Read:** A good preparation for today's presentation is this quick guide to sales and marketing for startups: [The Guide to Sales and Marketing for Technical Startup People](http://startupsheartcustomers.com)

#### Continuing Work
* **Continue work on Stage 3**: Will be due on December 6. Look at the <%= link_to_topic :cosi165a_term_project_outline %>. Now we are into the business issues. You will have talked and discussed this along the way. Who is your competition? How will you be different? How are you going to price and what is your financial analysis look like? And how will you plan to drive growth?


#### Guest Lecturer: Barry Ruditsky

We are lucky to have Barry Ruditsky lead our discussion today. Barry has been a sales person, a sales manager, a business development manager and a strategist. Once we developers finish building the product he's the one that needs to figure out how or whether to sell it. You can find [information about Barry on LinkedIn](https://www.linkedin.com/in/barryruditsky/). You might ask him to link to you on linkedIn as well. Barry worked with me in the company we started, eRoom Technology. Today he is in charge of business development and EMC Corporation. Barry will explore questions of pricing and business models, partnering, actually going into the market, and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/barryruditsky">Barry Ruditsky | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<%= include_topic :hw_how_to_improve_course %>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
