---
title: "Dulcie Madden: xxx" 
desc: A real world entrepreneur about how she got there!
homework: TBD
cat: Entrepreneurship
---
<%= homework_hdr %>


##### Interesting, but not required reading
* Interview with [Dulcie Madden](https://www.bigcitymoms.com/supermom/chat-dulcie-madden-co-founder-ceo-rest-devices/), today's guest lecturer.

#### Guest Lecturer

<a class="embedly-card" href="https://www.linkedin.com/in/dulcie-madden-0a34a63/">Dulcie Madden | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

We are really lucky to have Dulcie Madden, the co-Founder and CEO of [Rest Devices](https://www.mimobaby.com) and [Nod](https://www.nodtosleep.com).  

#### More to come!
