---
title: "Dulcie Madden: xxx" 
desc: A real world entrepreneur about how she got there!
homework: TBD
---
<%= homework_hdr %>

#### Guest Lecturer

<a class="embedly-card" href="https://www.linkedin.com/in/dulcie-madden-0a34a63/">Dulcie Madden | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

We are really lucky to have Dulcie Madden, the co-Founder and CEO of [Rest Devices](https://www.mimobaby.com) and [Nod](https://www.nodtosleep.com). 

#### More to come!
