---
title: Learning from Failure
desc:
homework: 1) Read and respond to reading about Failure; 1) Watch and respond to Edison Biography
cat: Skills
---
<%= homework_hdr %>
* **Read**: [Seven Lessons I learned from the failure of my first startup](https://medium.com/@michalbohanes/seven-lessons-i-learned-from-the-failure-of-my-first-startup-dinnr-c166d1cfb8b8). <%= deliverable "Write and submit a reflection. Ask yourself some quesions: Have I seen similar mistakes made? Could I see myself make the same misjudgements? Were the problems with the product forseable? How?" %>
* **Watch and take notes** Watch this documentary, making notes about key lessons that you think you could apply yourself.  <%= deliverable "Write and submit your key applicable lessons" %>

<iframe width="512" height="376" src="http://player.pbs.org/viralplayer/2365586799" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" seamless allowfullscreen></iframe>

#### Guest Lecturer

 * Our speaker today is Rick Treitman. You can find [information about Rick on LinkedIn.](https://www.linkedin.com/in/ricktreitman). You might ask him to link to you on linkedIn!

 <hr>

 <a class="embedly-card" href="https://www.linkedin.com/in/ricktreitman">Rick Treitman | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### More references
* [How I failed: Tim O'Reilly](https://www.linkedin.com/pulse/20130913150218-16553-how-i-failed)

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
