<nav class="navbar navbar-expand-lg bg-dark py-0">
  <nav class="nav py-0">
    <a class="nav-link py-0 text-light" href="/content/welcome/02_coursetoc.md/">TOC</a>
    <a class="nav-link py-0 text-light" href="/content/term/05_term_project_outline.md/">Project Outline</a>
    <a class="nav-link py-0 text-light" href="/content/topics/syllabus/cosi165a_final_deliverables.md/">Deliverables</a>
    <a class="nav-link py-0 text-light" href="/content/term/25_final_presentation.md/">Presentations</a>
    <a class="nav-link text-light py-0" href="http://pitosalas.github.io/brandeisprojects/">Examples</a>
  </nav>
  <div class="navbar-control py-0">
    <form role="form" class="form-inline" action="/content/tipuesearch/search.md/index.html">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="search..." name="q" id="tipue_search_input" autocomplete="off" required>
      </div>
    </form>
  </div>
  <div class="nav py-0">
    <%if citem.section != "root" %>
      <%= link_to_prev toc, item %> <%= link_to_next toc, item %>
    <% end %>
  </div>
</div>
</nav>
